
<style>
  body, div {
    margin: 0;
    padding: 0;
  }
  h1 { 
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
                font-size: 14pt;
         }
  h2 {
    font-size: 12pt;
    margin-bottom: .5em;
   font-style: italic;
 }
  
</style>



<div id="info_letter_content" class="instructions" style="width: 500px; margin-top: 1em;margin-left:auto;margin-right:auto;text-align:left; padding:15px; border:1px; border-style: dashed; background-color:#eee;color:#000;border-color:#333;">


    
<center>
<p>
<b><%=@info_letter3%></b>
</p>

<p><b><%=@info_letter4%></b></p>

<b><%=@info_letter5%></b><%=@info_letter6%><br/>
<b><%=@info_letter7%></b><%=@info_letter8%><br/>

</center>
<p>
<%=@info_letter9%>
</p><p>
<%=@info_letter10%>
</p><p>
<%=@info_letter11%>
</p><p>
<%=@info_letter12%>
</p><p>
<%=@info_letter13%>
</p><p>
<%=@info_letter14%>
</p><p>
<%=@info_letter15%>
</p>

<p>
<%=@info_letter16%>
</p>

<!-- <ul>
<li>You wish to talk to someone other than the research staff about
  your rights as a research subject;</li>
<li>To voice concerns about the research;</li>
<li>To provide input concerning the research process;</li>
<li>In the event the study staff could not be reached.</li>
</ul> -->

</div>
