<div style="margin-top: 2em;">


<p><%= link_to @survey_take, action: "info_letter" %></p>
<p><%= @front_page1 %></p>
<p><%= @front_page2 %></p>
<p><%= @front_page3 %></p>

<!-- <h1><%= @hello_controller %></h1> -->

</div>
