<div style="margin-top: 2em;">

<div class = "instructions" style="margin-bottom: 2em;">
<%= @screening_preface %>
</div>
<div class = "instructions" style="margin-bottom: 2em;display:none;">
For <b>10 minutes</b> of your time you can <b>earn $5</b> in
Amazon.com credit and <b>make an important contribution to gay and
    bisexual men's health</b>. 
You may also <b>earn up to $15</b> for recruiting friends to take this
survey.

<br />

</div>
<!--   <p> Your recruit code is: <%= @recruitee_coupon %> </p> -->

<%= form_for @facebook_response, :url => { :controller => 'consent', :action => 'update' }, :html=>{:id=>"eligible"}  do |f| %>
<p></p>
<div style="margin-right:auto;width: 500px;padding:1em; height: 250px; border:1px; border-style: dashed; background-color:#eee;text-color:#000;border-color:#333;font-color:#000">
    <div id = "age" style="margin-left: 0em;">
     <%= label_tag 'eighteen_or_older', @screening1 %>
     <br />
      <%= f.radio_button :eighteen_or_older, true, :onclick => "$('#age').hide();$('#country').show(500);" %> <%= @yn1 %>
      <br />
      <%= f.radio_button :eighteen_or_older, false, :onclick => "$('#age').hide(); $('#ineligible').show(500);" %> <%= @yn2 %>
      <span style="margin-left: 2em;"></span>

     </div>
  <div id = "ineligible" style="display: none;margin-left: 0em; ">
      <%= @screening_fail %>
</div>

    <div id="country" style="display: none; margin-left: 0em;">
     <%= label_tag 'nationality', @screening2 %>
     <br />
      <%= f.radio_button :nationality, true, :onclick => "$('#country').hide();$('#facebook').show(500);" %> <%= @yn1 %>
      <br />
      <%= f.radio_button :nationality, false, :onclick => "$('#country').hide(); $('#ineligible').show(500);" %> <%= @yn2 %>
      <span style="margin-left: 2em;"></span>

      </p>
    </div>
        <div id = "facebook" style="display: none; margin-left: 0em;">
    <%= @facebook1 %>
  <p>
       <fb:login-button 
        show-faces="false"
        scope="user_relationships,user_relationship_details,friends_relationships,friends_relationship_details"
        onlogin="$('#eligible').submit()">
        <%= @facebook2 %>
      </fb:login-button>
<div style="margin-top: 2em">
<%= @facebook3 %>
</div>
</p>

     </div>

</div>
  <% end %>
  
</div>
