
<style>
.content {
visibility:hidden;
position: absolute;
top:100px;
width:575px;
}

a:link { color:blue; }

a:visited { color:blue; }

a:hover { color:blue; }

a:active { color:blue; }

</style>

<div style="height:600px;">
<div class="content" id="recruit" style="margin-left: auto;
					 margin-right: auto; color:
					 #666666;visibility: visible;">

<!-- <div id="links" style="text-align:right;"> 
<a id="toquestions" href="#">Questions?</a> 
</div> -->

<p>
<%= @thank_you_letter %>
</p>
<p>
<%= @emailing %>
</p>



 <%= form_for @ending, :url => { :action => 'update', :id  =>@ending.id} do |f| %>

<li>
<div class="question"><%= @emailing %></div>
<div class="errors"><%= render(:partial => 'errors', :object => @ending.errors[:email_address]) %></div>
<div class = "answer"><%= f.text_field :email_address, style: "margin-left: 1em;" %>
</div>
</li>

 <%= submit_tag "Click Here to Finish" %>

<% end %>

</div>
<div id="remove" class="content">
In order to conduct this survey, we needed to add an app to your
Facebook account called <b>ReDSSoCS</b>. We no longer need you to
have this app, so please feel free to remove it. Facebook has instructions for
removing apps <a href="https://www.facebook.com/help/204306713029340">here</a>.
</div>
</div>
</div>

<script>


          //Get a reference to the link on the page
          // with an id of "mylink"
          var a = document.getElementById("fb-invite");
          var b;
          //Set code to run when the link is clicked
          // by assigning a function to "onclick"
          a.onclick = function() {
/*
            // Your code here...
            FB.ui({
                   //method: 'send',     
                   // link: "<%= url_for :controller => 'recruit', :action => 'invitation',  :only_path => false %>" 
                   //link: "<%=@invitation_url %>" 
                   method: 'apprequests',     
                   message: 'Take a health survey for gay men'
	    }, function (response) {
                 $("#facebook_response").text(response);
                 response.to.forEach(function(entry) {
	              console.log(entry);
                      $.post("<%= url_for action: :loginvitation %>",
            {"facebook_account_number":  entry, "recruitee_coupon": "<%= @recruitee_coupon %>"});
                 });
             });*/
             FB.ui({
                   method: 'send',     
                   link: "<%= @invitation_url %>" 
                   //method: 'apprequests',     
                   //message: 'Take a health survey for gay men'
	    });
            //If you don't want the link to actually 
            // redirect the browser to another page,
            // "google.com" in our example here, then
            // return false at the end of this block.
            // Note that this also prevents event bubbling,
            // which is probably what we want here, but won't 
            // always be the case.
            return false;
         };



               last = document.getElementById('recruit');
               last.style.visibility='visible';
               changeDisplayState = function (id) {
                    var e = document.getElementById(id);
                    last.style.visibility='hidden';
                    e.style.visibility='visible';
                    last = e;
               };

               clicker = function (name) {
                   return function () {
                    changeDisplayState(name);
                    return false;
                   };
               };
	       var es = document.getElementById('links').children;
	       for(var i = 0; i < es.length; i++) {
                   var name = es[i].id.substr(2,es[i].id.length-2);
	            es[i].onclick = clicker(name);
               }
</script>
