<ul style="list-style-type: none;">
<li><%= f.radio_button name, "Yes", :onclick => "$('#" + dependency + "').show();" %>
<%= f.label name, @yn1 %></li>
<li><%= f.radio_button name, "No", :onclick => "$('#" + dependency + "').hide();" %>
<%= f.label name, @yn2 %></li>
<li><%= f.radio_button name, "Not Applicable", :onclick => "$('#" + dependency + "').hide();" %>
<%= f.label name, @yn3 %></li>
</ul>
