<div style="margin-top: 2em;"><% if @response.errors.any? %>
<div id ="error_top" class="field_with_errors"
     style="width:400px;margin-left:auto;margin-right:auto;margin-top:2em;margin-bottom:2em;">
  There are some missing or incorrect answers below. <b>Look for entries
  with this background color</b>. Please fix them and submit again. Thanks!
</div>
<% end %> 

<div style="margin-left: auto; margin-right: auto; width:600;">

<div class="instructions">There are <b>two pages</b> of questions (47 total),
 some having multiple parts. This is <b>page 1</b> and there are 41 questions.  The next page has only 6 brief questions.</div>
 <%= form_for @response, :url => { :action => 'update', :id  =>@response.id} do |f| %>

 <ol>

<li>
<div class="question"> <%= @sex %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:birth_sex]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @mf, :locals=> {:f => f, :name => :birth_sex}) %>
</div>

</li>

<li>
<div class="question"> <%= @age %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:age]) %></div>
<div class="answer"><%= f.text_field :age, style: "margin-left: 1em;" %></div>
</li>


<li>
<div class = "question"> <%= @bigFive_instruction %> </div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @bigFive, :locals=> {:f => f, :cols=>@aggreement}) %>
</tr>
</table>
</div>
</li>

<li>
<p><%= @cohen_instruction %></p>
<ol type="a">

<li>
<div class="question"> <%= @martialq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:martial]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @martial, :locals=> {:f => f, :name => :martial}) %>
 </div>
</li>

<li>
<div class="question"> <%= @num_siblings %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:num_siblings]) %></div>
<div class="answer"><%= f.text_field :num_siblings, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @num_children %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:num_children]) %></div>
<div class="answer"><%= f.text_field :num_children, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @num_children_intouch %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:num_children_intouch]) %></div>
<div class="answer"><%= f.text_field :num_children_intouch, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @parentsq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:parents]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @parents, :locals=> {:f => f, :name => :parents, :dependency => "parents_touch"}) %>
 </div>
</li>

<li>
<div class="question" id ="parents_touch" <% if @response.parents == "neither"%>style="display: none;"<% end %>>
<%= @parents_touch %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:parents_touch]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @parents, :locals=> {:f => f, :name => :parents_touch}) %>
 </div>
</li>

<li>
<div class="question"> <%= @parents_partnerq %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:parents_partner]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @parents_partner, :locals=> {:f => f, :name => :parents_partner}) %>
 </div>
</li>


<li>
<div class="question"> <%= @parents_partner_touch %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:parents_partner_touch]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @parents, :locals=> {:f => f, :name => :parents_partner_touch}) %>
 </div>
</li>

<li>
<div class="question"> <%= @other_relatives %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_relatives]) %></div>
<div class="answer"><%= f.text_field :other_relatives, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @other_relatives_touch %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_relatives_touch]) %></div>
<div class="answer"><%= f.text_field :other_relatives_touch, style: "margin-left: 1em;" %></div>
</li>


<li>
<div class="question"> <%= @close_friends %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:close_friends]) %></div>
<div class="answer"><%= f.text_field :close_friends, style: "margin-left: 1em;" %></div>
</li>


<li>
<div class="question"> <%= @close_friends_touch %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:close_friends_touch]) %></div>
<div class="answer"><%= f.text_field :close_friends_touch, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @religious %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:religious]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :religious}) %>
</div>
</li>

<li>
<div class="question"> <%= @religious_members %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:religious_members]) %></div>
<div class="answer"><%= f.text_field :religious_members, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @classes %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:classes]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :classes}) %>
</div>
</li>


<li>
<div class="question"> <%= @talk_students_teachers %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:talk_students_teachers]) %></div>
<div class="answer"><%= f.text_field :talk_students_teachers, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @employedq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:employed]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @employed, :locals=> {:f => f, :name => :employed}) %>
</div>
</li>

<li>
<div class="question"> <%= @talk_work %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:talk_work]) %></div>
<div class="answer"><%= f.text_field :talk_work, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @visit_neighbors %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:visit_neighbors]) %></div>
<div class="answer"><%= f.text_field :visit_neighbors, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @volunteer %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:volunteer]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :volunteer}) %>
</div>
</li>

<li>
<div class="question"> <%= @num_volunteer %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:num_volunteer]) %></div>
<div class="answer"><%= f.text_field :num_volunteer, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @social_group %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:social_group]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :social_group}) %>
</div>
</li>

<li>
<div class="question"> <%= @group_name %> </div>
 
<div class="answer">Group Name &nbsp <%= f.text_field :groupa1, style: "margin-left: 1em;" %>
&nbsp
<%= f.text_field :groupa2, style: "margin-left: 1em;" %>
</div>

<div class="answer"> <%= @group_member %> &nbsp 
<%= f.text_field :groupb1, style: "margin-left: 1em;" %>
&nbsp
<%= f.text_field :groupb2, style: "margin-left: 1em;" %>
</div>

</li>

</ol>
</li>

<li>
<div class="question"> <%= @happyq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:happy]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @happy, :locals=> {:f => f, :name => :happy}) %>
</div>
</li>


<li>
<div class = "question"> <%= @instructions1 %> </div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @life_satisfaction, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question"> <div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @happiness, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @happiness_rating, :locals=> {:f => f, :cols=>@happiness}) %>
</tr>
</table>
</div>
</li>


<li>
<div class = "question"> <%= @communal1q %> </div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @communal1, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>


<li>
<div class = "question"> <%= @communal2q %> </div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @communal2, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question">The following questions ask you to think about yourself and other people.  Please respond to each question by using your own beliefs and experiences, NOT what you think is true in general, or what might be true for other people.</div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @burden, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question">Here are some statements, which you may or may not agree. Please indicate to what degree you agree with the following statements.</div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @belong, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question">Everyone comes across negative and positive life events, which might be stress inducing. We are asking you to think of LAST YEAR and indicate if you have experienced any of the listed events, within the LAST YEAR. If you have experienced an event, we will ask you how much you were affected by this event, on a scale from 'Not at all affected' to 'Very much affected'.</div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @affected, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @rahe, :locals=> {:f => f, :cols=>@affected}) %>
</tr>
</table>
</div>
</li>


<li>
With this questionnaire we are trying to understand how you respond to stressful events. There are many ways to deal with stress. While rating the items that follow please think of the most distressing event that you have experienced during the past year. Obviously, different people deal with things in different ways, but I'm interested in how you've tried to deal with it.  Each item says something about a particular way of coping.  We want to know to what extent you've been doing what the item says.  How much or how frequently.  Don't answer on the basis of whether it seems to be working or not—just whether or not you're doing it.  Try to rate each item separately in your mind from the others.  Make your answers as true FOR YOU as you can.

<ol type="a">
<li>
<div class="question"> So first, please indicate, within the last year, which event has caused you the most distress and difficulty?  Please choose the most distressing event from the events you have talked about before. YOU HAVE INDICATED THE FOLLOWING AS THE MOST STRESSFUL.  PLEASE CHOOSE ONE AND RESPOND THE FOLLOWING THINKING OF HOW YOU COPED WITH THIS STRESS. </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cope_b]) %></div>
<div class="answer"><%= f.text_field :cope_b, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class = "question">While answering these questions, please think of how you generally acted when you were faced with the problem that you have selected above.
When I was faced with this problem…</div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @done, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @cope_c, :locals=> {:f => f, :cols=>@done}) %>
</tr>
</table>
</div>
</li>

</ol>
</li>


<li>
Please think of the same event that you faced within the last year, that has caused you the most distress and difficulty. Think of the people that you have consulted with when you were dealing with this problem, and what they have done. 

<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @communal_check, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'checktable', :collection => @communal_option, :locals=> {:f => f, :cols=>@communal_check}) %>
</tr>
</table>
</div>
</li>

<li>
<ol type="a">
<li>

<div class="question">Have you spoken to your Father about this problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_a, :dependency => "father"}) %>
</div>

<ol type="i" id ="father" <% if @response.father_a != "Yes"%>style="display: none;"<% end %>>
<li>
<div class="question">Did he listen to you about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_b}) %>
</div>
</li>

<li>
<div class="question">Did he perceive your problem/stress as if it is his own (even if they may not have anything to do with the problem itself)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_c}) %>
</div>
</li>

<li>
<div class="question">Did he try to solve your problem/stress for you (resorting mainly to their own resources and/or mobilizing your resources themselves)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_d}) %>
</div>
</li>

<li>
<div class="question">Did he share the responsibility of resolving this problem with you? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_e}) %>
</div>
</li>


<li>
<div class="question">Did he care about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_f}) %>
</div>
</li>

<li>
<div class="question">Did he think that it is mainly your responsibility to solve your own problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_g}) %>
</div>
</li>
</ol>

</li>

<li>

<div class="question">Have you spoken to your Mother about this problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_a}) %>
</div>

<ol type="i">
<li>
<div class="question">Did she listen to you about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_b}) %>
</div>
</li>

<li>
<div class="question">Did she perceive your problem/stress as if it is her own (even if they may not have anything to do with the problem itself)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_c}) %>
</div>
</li>

<li>
<div class="question">Did she try to solve your problem/stress for you (resorting mainly to their own resources and/or mobilizing your resources themselves)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_d}) %>
</div>
</li>

<li>
<div class="question">Did she share the responsibility of resolving this problem with you? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_e}) %>
</div>
</li>


<li>
<div class="question">Did she care about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_f}) %>
</div>
</li>

<li>
<div class="question">Did she think that it is mainly your responsibility to solve your own problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_g}) %>
</div>
</li>
</ol>

</li>


<li>

<div class="question">Have you spoken to your Children about this problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_a}) %>
</div>

<ol type="i">
<li>
<div class="question">Did they listen to you about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_b}) %>
</div>
</li>

<li>
<div class="question">Did they perceive your problem/stress as if it is their own (even if they may not have anything to do with the problem itself)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_c}) %>
</div>
</li>

<li>
<div class="question">Did they try to solve your problem/stress for you (resorting mainly to their own resources and/or mobilizing your resources themselves)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_d}) %>
</div>
</li>

<li>
<div class="question">Did they share the responsibility of resolving this problem with you? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_e}) %>
</div>
</li>


<li>
<div class="question">Did they care about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_f}) %>
</div>
</li>

<li>
<div class="question">Did they think that it is mainly your responsibility to solve your own problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_g}) %>
</div>
</li>
</ol>

</li>

<li>

<div class="question">Have you spoken to your Siblings about this problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_a}) %>
</div>

<ol type="i">
<li>
<div class="question">Did they listen to you about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_b}) %>
</div>
</li>

<li>
<div class="question">Did they perceive your problem/stress as if it is their own (even if they may not have anything to do with the problem itself)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_c}) %>
</div>
</li>

<li>
<div class="question">Did they try to solve your problem/stress for you (resorting mainly to their own resources and/or mobilizing your resources themselves)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_d}) %>
</div>
</li>

<li>
<div class="question">Did they share the responsibility of resolving this problem with you? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_e}) %>
</div>
</li>


<li>
<div class="question">Did they care about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_f}) %>
</div>
</li>

<li>
<div class="question">Did they think that it is mainly your responsibility to solve your own problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_g}) %>
</div>
</li>
</ol>

</li>



<li>
<div class="question">Have you spoken to your Cousins about this problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_a}) %>
</div>

<ol type="i">
<li>
<div class="question">Did they listen to you about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_b}) %>
</div>
</li>

<li>
<div class="question">Did they perceive your problem/stress as if it is their own (even if they may not have anything to do with the problem itself)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_c}) %>
</div>
</li>

<li>
<div class="question">Did they try to solve your problem/stress for you (resorting mainly to their own resources and/or mobilizing your resources themselves)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_d}) %>
</div>
</li>

<li>
<div class="question">Did they share the responsibility of resolving this problem with you? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_e}) %>
</div>
</li>


<li>
<div class="question">Did they care about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_f}) %>
</div>
</li>

<li>
<div class="question">Did they think that it is mainly your responsibility to solve your own problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_g}) %>
</div>
</li>
</ol>

</li>


<li>
<div class="question">Have you spoken to your Aunts/Uncles about this problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_a}) %>
</div>

<ol type="i">
<li>
<div class="question">Did they listen to you about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_b}) %>
</div>
</li>

<li>
<div class="question">Did they perceive your problem/stress as if it is their own (even if they may not have anything to do with the problem itself)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_c}) %>
</div>
</li>

<li>
<div class="question">Did they try to solve your problem/stress for you (resorting mainly to their own resources and/or mobilizing your resources themselves)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_d}) %>
</div>
</li>

<li>
<div class="question">Did they share the responsibility of resolving this problem with you? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_e}) %>
</div>
</li>


<li>
<div class="question">Did they care about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_f}) %>
</div>
</li>

<li>
<div class="question">Did they think that it is mainly your responsibility to solve your own problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_g}) %>
</div>
</li>
</ol>

</li>



<li>
<div class="question">Have you spoken to your Spouse/Partner about this problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_a}) %>
</div>

<ol type="i">
<li>
<div class="question">Did they listen to you about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_b}) %>
</div>
</li>

<li>
<div class="question">Did they perceive your problem/stress as if it is their own (even if they may not have anything to do with the problem itself)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_c}) %>
</div>
</li>

<li>
<div class="question">Did they try to solve your problem/stress for you (resorting mainly to their own resources and/or mobilizing your resources themselves)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_d}) %>
</div>
</li>

<li>
<div class="question">Did they share the responsibility of resolving this problem with you? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_e}) %>
</div>
</li>


<li>
<div class="question">Did they care about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_f}) %>
</div>
</li>

<li>
<div class="question">Did they think that it is mainly your responsibility to solve your own problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_g}) %>
</div>
</li>
</ol>

</li>


<li>
<div class="question">Have you spoken to your Friends about this problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_a}) %>
</div>

<ol type="i">
<li>
<div class="question">Did they listen to you about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_b}) %>
</div>
</li>

<li>
<div class="question">Did they perceive your problem/stress as if it is their own (even if they may not have anything to do with the problem itself)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_c}) %>
</div>
</li>

<li>
<div class="question">Did they try to solve your problem/stress for you (resorting mainly to their own resources and/or mobilizing your resources themselves)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_d}) %>
</div>
</li>

<li>
<div class="question">Did they share the responsibility of resolving this problem with you? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_e}) %>
</div>
</li>


<li>
<div class="question">Did they care about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_f}) %>
</div>
</li>

<li>
<div class="question">Did they think that it is mainly your responsibility to solve your own problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_g}) %>
</div>
</li>
</ol>

</li>

<li>
<div class="question">Have you spoken to Others about this problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_a}) %>
</div>

<ol type="i">

<li>
<div class="question"> Please specify whom </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_who]) %></div>
<div class="answer"><%= f.text_field :other_who, style: "margin-left: 1em;" %></div>
</li>


<li>
<div class="question">Did they listen to you about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_b}) %>
</div>
</li>

<li>
<div class="question">Did they perceive your problem/stress as if it is their own (even if they may not have anything to do with the problem itself)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_c}) %>
</div>
</li>

<li>
<div class="question">Did they try to solve your problem/stress for you (resorting mainly to their own resources and/or mobilizing your resources themselves)? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_d}) %>
</div>
</li>

<li>
<div class="question">Did they share the responsibility of resolving this problem with you? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_e}) %>
</div>
</li>


<li>
<div class="question">Did they care about your problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_f}) %>
</div>
</li>

<li>
<div class="question">Did they think that it is mainly your responsibility to solve your own problem? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_g}) %>
</div>
</li>
</ol>

</li>




</ol>
</li>

<li>
<div class="question"> How differently did you cope with this problem in terms of what you have done and with whom you have consulted with, compared to have you GENERALLY cope with problems? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cope_problems]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @cope_problems, :locals=> {:f => f, :name => :cope_problems}) %>
</div>
</li>


<li>
<ol type="a">

<li>
<div class="question"> Who do you call 'family' in your life? Even if you do not have anyone you call 'family' at the moment, you might have had someone or a few family members in the past. Please check all that applies, and please respond the following questions accordingly. </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:family]) %></div>
<div class="answer">
<%= render( :partial => 'checkboxes', :object => @family, :locals=> {:f => f}) %>
</div>
</li>

<li>
<div class = "question">Please indicate to what degree you agree or disagree with the following statements, considering your own relationship with your family. You can rate these statement on a scale from 'I strongly Disagree' to 'I strongly Agree'.</div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @self_construal, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

</ol>
</li>


<li>
<div class = "question">Please tell me how much you agree with the sentences below.
You can answer the question from 'strongly disagree' to  'strongly agree'. </div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @individualism, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question">Below is a list of the ways you might have felt or behaved. Please tell me how often you have felt this way during the past week.  (Show the cards) </div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @how_often, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @depression, :locals=> {:f => f, :cols=>@how_often}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question">WE ALL GO THROUGH HARD TIMES IN OUR LIVES and sometimes we find it difficult to resolve these problems, and do not know what to do. You may also have gone through a similar period in your life-time.
</div>

<ol type ="a">

<li>
<div class="question"> Have you ever thought about or attempted to kill yourself, within your life-time? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:suicide_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @suicide_a, :locals=> {:f => f, :name => :suicide_a}) %>
</div>
</li>

<li>
<div class="question"> Have you ever thought about or attempted to kill yourself within the last year (12 months)?  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:suicide_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @suicide_a, :locals=> {:f => f, :name => :suicide_b}) %>
</div>
</li>

</ol>
</li>


<li>
<div class="question"> 
<ol type="a">

<li>
<div class="question">During the past 4 weeks, did you have any problems with your work or other regular daily activities as a result of any emotional problems (such as feeling depressed or anxious)?  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:function_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :function_a}) %>
</div>
</li>

<li>
<div class="question">Have you accomplished less than you would like in your work or daily activities as a result of these emotional problems? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:function_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @times, :locals=> {:f => f, :name => :function_b}) %>
</div>
</li>

<li>
<div class="question">Have done your work or other regular daily activities less carefully than usual as a result of these emotional problems? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:function_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @times, :locals=> {:f => f, :name => :function_c}) %>
</div>
</li>


</ol>
</li>





<li>
<div class="question">
<ol type="a">

<li>
<div class="question">Most of the people may witness or live a stressful and traumatic event in any period of their lives. A serious accident, natural disasters like fire, earthquake, domestic violence (beatingws, manhandling), sexual abuse, bereavement, sudden death of loved-one or a loved one taking one’s own life and many others can be examples for traumatic events that people experience. Have you experienced any serious and/or traumatic events in your life, such as the ones mentioned above? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:trauma_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :trauma_a}) %>
</div>
</li>

<li>
<div class="question">If yes;
Did you experience these kinds of events more than once? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:trauma_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :trauma_b}) %>
</div>
</li>

<li>
<div class="question">When did you experience this/these events? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:trauma_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @childhood, :locals=> {:f => f, :name => :trauma_c}) %>
</div>
</li>

</ol>
</li>

<li>
<div class="question"> What is your religious denomination? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:religios_dominations]) %></div>
<div class="answer"><%= f.text_field :religios_dominations, style: "margin-left: 1em;" %></div>
</li>



<li>
<div class="question">
<ol type="a">

<li>
<div class = "question">Please rate how much you agree with these statements ranging from definitely not true of me to definitely true of me. </div>
<div class = "answer">
<table style="margin-left: 1em;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @how_true, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @religious_a, :locals=> {:f => f, :cols=>@how_true}) %>
</tr>
</table>
</div>
</li>

<li>
<div class="question">How often did you pray or practiced your religion in a sanctuary (mosque/djemevi/church/synagogue)?  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:religious_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @rating, :locals=> {:f => f, :name => :religious_b}) %>
</div>
</li>

<li>
<div class="question">How often did you pray or practiced your religion by yourself outside of a sanctuary within the last month ?  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:religious_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @rating, :locals=> {:f => f, :name => :religious_c}) %>
</div>
</li>

<li>
<div class="question">Regardless of how often you pray, to what extend you think you are religious? From 'not religious at all' to 'very religious', how many points would you give yourself ?  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:how_religious]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @how_religious, :locals=> {:f => f, :name => :how_religious}) %>
</div>
</li>

</ol>
</li>



<li>
<div class="question">
<ol type="a">

<li>
<div class="question"> How many years have you been living in your current city/town/village ? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_a]) %></div>
<div class="answer"><%= f.text_field :demographics_a, style: "margin-left: 1em;" %>
</div>
</li>

<li>
<div class="question"> In which city were you born ? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_b]) %></div>
<div class="answer"><%= f.text_field :demographics_b, style: "margin-left: 1em;" %>
</div>
</li>

<li>
<div class="question">Were you born in a city center, in a suburb or in a village ?  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @demographics_c, :locals=> {:f => f, :name => :demographics_c}) %>
</div>
</li>

<li>
<div class="question">What kind of a settlement was the longest place that you have lived so far?  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @demographics_d, :locals=> {:f => f, :name => :demographics_d}) %>
</div>
</li>


<li>
<div class="question">Have you ever moved from one city or town to another city, town, or country ?   </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :demographics_e}) %>
</div>
</li>

<li>
<div class="question"> How many times have you moved from one city or town to another city, town or country? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_f]) %></div>
<div class="answer"><%= f.text_field :demographics_f, style: "margin-left: 1em;" %>
</div>
</li>

<li>
<div class="question"> Including yourself, how many people reside at your current residence ? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_g]) %></div>
<div class="answer"><%= f.text_field :demographics_g, style: "margin-left: 1em;" %>
</div>
</li>

<li>
<div class="question"> With whom do you live with? (You can choose more than one.) </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:live_with]) %></div>
<div class="answer">
<%= render( :partial => 'checkboxes', :object => @live_with, :locals=> {:f => f}) %>
</div>
</li>

<li>
<div class="question">Are you the person who contributes the most to the income of the household?  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_i]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :demographics_i}) %>
</div>
</li>


<li>
<div class="question">Please indicate your highest level of education? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_j]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @grad, :locals=> {:f => f, :name => :demographics_j}) %>
</div>
</li>


<li>
<div class="question">What is your current job status? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_k]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @employment, :locals=> {:f => f, :name => :demographics_k}) %>
</div>
</li>

<li>
<div class="question">What is your current occupation? (Please answer if you chose 1-4 on the above question)
(If you are retired, please indicate the profession that you are retired from) </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_l]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @occupation, :locals=> {:f => f, :name => :demographics_l}) %>
</div>
</li>

<li>
<div class="question">Compared to your immediate environment, how would you rate your own income level?</div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_m]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @income_level, :locals=> {:f => f, :name => :demographics_m}) %>
</div>
</li>

<li>
<div class="question">Compared to the average income level of your country, how would you rate your own income level? </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_n]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @income_rate, :locals=> {:f => f, :name => :demographics_n}) %>
</div>
</li>

<li>
<div class="question">What is your net total monthly income?  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_o]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @income, :locals=> {:f => f, :name => :demographics_o}) %>
</div>
</li>


</ol>
</li>


</ol>
<%= f.submit %>
<% end %>

</div>
</div>
