<div style="margin-top: 2em;"><% if @response.errors.any? %>
<div id ="error_top" class="field_with_errors"
     style="width:400px;margin-left:auto;margin-right:auto;margin-top:2em;margin-bottom:2em;">
  <%= @error_top %>
</div>
<% end %> 

<div style="margin-left: -100px; margin-right: auto; width:700px;">

<div class="instructions"> <%= @instructions %> </div>
 <%= form_for @response, :url => { :action => 'update', :id  =>@response.id} do |f| %>

 <ol>

<li>
<div class="question"> <%= @sex %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:birth_sex]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @mf, :locals=> {:f => f, :name => :birth_sex}) %>
</div>

</li>

<li>
<div class="question"> <%= @age %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:age]) %></div>
<div class="answer"><%= f.number_field :age, :min => 0, style: "margin-left: 1em;" %></div>
</li>


<li>
<div class = "question"> <%= @bigFive_instruction %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @bigFive, :locals=> {:f => f, :cols=>@aggreement}) %>
</tr>
</table>
</div>
</li>

<li>
<p><%= @cohen_instruction %></p>
<ol type="a">

<li>
<div class="question"> <%= @martialq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:martial]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @martial, :locals=> {:f => f, :name => :martial}) %>
 </div>
</li>

<li>
<div class="question"> <%= @num_siblings %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:num_siblings]) %></div>
<div class="answer"><%= f.number_field :num_siblings, :min => 0, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @num_children %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:num_children]) %></div>
<div class="answer"><%= f.number_field :num_children, :min => 0, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @num_children_intouch %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:num_children_intouch]) %></div>
<div class="answer"><%= f.number_field :num_children_intouch, :min => 0, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @parentsq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:parents]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @parents, :locals=> {:f => f, :name => :parents, :dependency => "parents"}) %>
 </div>
</li>

<%= :parents %>
<%= @parents %>
<%= @response.parents %>
<%= @parents4 %>

<ol type="i" id ="parents" <% if @response.parents == @parents4 %>style="display: none;"<% end %>>
<li>
<div class="question"> <%= @parents_touchq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:parents_touch]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @parents_touch, :locals=> {:f => f, :name => :parents_touch}) %>
 </div>
</li>
</ol>

<li>
<div class="question"> <%= @parents_partnerq %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:parents_partner]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @parents_partner, :locals=> {:f => f, :name => :parents_partner, :dependency => "parents_parter"}) %>
 </div>
</li>

<ol type="i" id ="parents_partner" <% if @response.parents_partner == @parents_partner4 || @response.parents_partner == @parents_partner5 %>style="display: none;"<% end %>>
<li>
<div class="question"> <%= @parents_partner_touchq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:parents_partner_touch]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @parents_partner_touch, :locals=> {:f => f, :name => :parents_partner_touch}) %>
 </div>
</li>
</ol>

<li>
<div class="question"> <%= @other_relatives %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_relatives]) %></div>
<div class="answer"><%= f.number_field :other_relatives, :min => 0, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @other_relatives_touch %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_relatives_touch]) %></div>
<div class="answer"><%= f.number_field :other_relatives_touch, :min => 0, style: "margin-left: 1em;" %></div>
</li>


<li>
<div class="question"> <%= @close_friends %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:close_friends]) %></div>
<div class="answer"><%= f.number_field :close_friends, :min => 0, style: "margin-left: 1em;" %></div>
</li>


<li>
<div class="question"> <%= @close_friends_touch %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:close_friends_touch]) %></div>
<div class="answer"><%= f.number_field :close_friends_touch, :min => 0, style: "margin-left: 1em;" %></div>


<li>
<div class="question"> <%= @religious %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:religious]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :religious, :dependency => "religious"}) %>
</div>

<ol type="i" id ="religious" <% if @response.religious != "Yes"%> style="display: none;"<% end %>>
<li>
<div class="question"> <%= @religious_members %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:religious_members]) %></div>
<div class="answer"><%= f.number_field :religious_members, :min => 0, style: "margin-left: 1em;" %></div>
</li>

</ol>
</li>

<li>
<div class="question"> <%= @classes %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:classes]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :classes, :dependency => "classes"}) %>
</div>

<ol type="i" id ="classes" <% if @response.classes != "Yes"%> style="display: none;"<% end %>>
<li>
<div class="question"> <%= @talk_students_teachers %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:talk_students_teachers]) %></div>
<div class="answer"><%= f.number_field :talk_students_teachers, :min => 0, style: "margin-left: 1em;" %></div>
</li>

</ol>
</li>

<li>
<div class="question"> <%= @employedq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:employed]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @employed, :locals=> {:f => f, :name => :employed}) %>
</div>
</li>

<li>
<div class="question"> <%= @talk_work %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:talk_work]) %></div>
<div class="answer"><%= f.number_field :talk_work, :min => 0, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @visit_neighbors %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:visit_neighbors]) %></div>
<div class="answer"><%= f.number_field :visit_neighbors, :min => 0, style: "margin-left: 1em;" %></div>
</li>

<li>
<div class="question"> <%= @volunteer %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:volunteer]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :volunteer, :dependency => "volunteer"}) %>
</div>

<ol type="i" id ="volunteer" <% if @response.volunteer != "Yes"%> style="display: none;"<% end %>>
<li>
<div class="question"> <%= @num_volunteer %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:num_volunteer]) %></div>
<div class="answer"><%= f.number_field :num_volunteer, :min => 0, style: "margin-left: 1em;" %></div>
</li>

</ol>
</li>


<li>
<div class="question"> <%= @social_group %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:social_group]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :social_group, :dependency => "social_group"}) %>
</div>

<ol type="i" id ="social_group" <% if @response.social_group != "Yes"%> style="display: none;"<% end %>>
<li>
<div class="question"> <%= @group_name %> </div>
 
<div class="answer">Group Names: </br> &nbsp <%= f.text_field :groupa1, style: "margin-left: 1em;" %>
&nbsp
<%= f.text_field :groupa2, style: "margin-left: 1.5em;" %>
</div>

<div class="answer"> <%= @group_member %> </br> &nbsp 
<%= f.number_field :groupb1, :min => 0, style: "margin-left: 1em;" %> </br>
&nbsp
<%= f.number_field :groupb2, :min => 0, style: "margin-left: 1em;" %>
</div>

</li>
</ol>
</li>

</ol>
</li>

<li>
<div class="question"> <%= @happyq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:happy]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @happy, :locals=> {:f => f, :name => :happy}) %>
</div>
</li>


<li>
<div class = "question"> <%= @instructions1 %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @life_satisfaction, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

</br>
<li>
<div class = "question"> <div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @happiness, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @happiness_rating, :locals=> {:f => f, :cols=>@happiness}) %>
</tr>
</table>
</div>
</li>


<li>
<div class = "question"> <%= @communal1q %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @communal1, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>


<li>
<div class = "question"> <%= @communal2q %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @communal2, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question"> <%= @burdenq %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @burden, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question"> <%= @belongq %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @belong, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question"> <%= @raheq %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @affected, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @rahe, :locals=> {:f => f, :cols=>@affected}) %>
</tr>
</table>
</div>
</li>

</br>
<li>

<%= @instructions2 %>

<ol type="a">
<li>
<div class="question"> <%= @cope_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cope_b]) %></div>
<div class="answer"><%= f.text_field :cope_b, style: "margin-left: 1em; width:550px" %></div>
</li>

<li>
<div class = "question"> <%= @cope_cq %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @done, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @cope_c, :locals=> {:f => f, :cols=>@done}) %>
</tr>
</table>
</div>
</li>

</ol>
</li>

</br>
<li>
<%= @communal_checkq %>

<ol type="a">
<li>

<div class="question"> <%= @father_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_a, :dependency => "father"}) %>
</div>

<ol type="i" id ="father" <% if @response.father_a != "Yes"%>style="display: none;"<% end %>>
<li>
<div class="question"> <%= @father_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @father_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_c}) %>
</div>
</li>

<li>
<div class="question"> <%= @father_d %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_d}) %>
</div>
</li>

<li>
<div class="question"> <%= @father_e %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_e}) %>
</div>
</li>


<li>
<div class="question"> <%= @father_f %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_f}) %>
</div>
</li>

<li>
<div class="question"> <%= @father_g %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:father_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :father_g}) %>
</div>
</li>
</ol>

</li>

<li>

<div class="question"> <%= @mother_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_a, :dependency => "mother"}) %>
</div>

<ol type="i" id ="mother" <% if @response.mother_a != "Yes"%>style="display: none;"<% end %>>
<li>
<div class="question"> <%= @mother_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @mother_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_c}) %>
</div>
</li>

<li>
<div class="question"> <%= @mother_d %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_d}) %>
</div>
</li>

<li>
<div class="question"> <%= @mother_e %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_e}) %>
</div>
</li>


<li>
<div class="question"> <%= @mother_f %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_f}) %>
</div>
</li>

<li>
<div class="question"> <%= @mother_g %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:mother_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :mother_g}) %>
</div>
</li>
</ol>

</li>


<li>

<div class="question"> <%= @children_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_a, :dependency => "children"}) %>
</div>

<ol type="i" id ="children" <% if @response.children_a != "Yes"%>style="display: none;"<% end %>>
<li>
<div class="question"> <%= @children_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @children_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_c}) %>
</div>
</li>

<li>
<div class="question"> <%= @children_d %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_d}) %>
</div>
</li>

<li>
<div class="question"> <%= @children_e %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_e}) %>
</div>
</li>


<li>
<div class="question"> <%= @children_f %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_f}) %>
</div>
</li>

<li>
<div class="question"> <%= @children_g %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:children_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :children_g}) %>
</div>
</li>
</ol>

</li>

<li>

<div class="question"> <%= @sibling_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_a, :dependency => "sibling"}) %>
</div>

<ol type="i" id ="sibling" <% if @response.sibling_a != "Yes"%>style="display: none;"<% end %>>
<li>
<div class="question"> <%= @sibling_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @sibling_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_c}) %>
</div>
</li>

<li>
<div class="question"> <%= @sibling_d %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_d}) %>
</div>
</li>

<li>
<div class="question"> <%= @sibling_e %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_e}) %>
</div>
</li>


<li>
<div class="question"> <%= @sibling_f %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_f}) %>
</div>
</li>

<li>
<div class="question"> <%= @sibling_g %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:sibling_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :sibling_g}) %>
</div>
</li>
</ol>

</li>



<li>
<div class="question"> <%= @cousins_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_a, :dependency => "cousins"}) %>
</div>

<ol type="i" id ="cousins" <% if @response.cousins_a != "Yes"%>style="display: none;"<% end %>>
<li>
<div class="question"> <%= @cousins_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @cousins_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_c}) %>
</div>
</li>

<li>
<div class="question"> <%= @cousins_d %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_d}) %>
</div>
</li>

<li>
<div class="question"> <%= @cousins_e %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_e}) %>
</div>
</li>


<li>
<div class="question"> <%= @cousins_f %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_f}) %>
</div>
</li>

<li>
<div class="question"> <%= @cousins_g %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cousins_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :cousins_g}) %>
</div>
</li>
</ol>

</li>


<li>
<div class="question"> <%= @uncle_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_a, :dependency => "uncle"}) %>
</div>

<ol type="i" id ="uncle" <% if @response.uncle_a != "Yes"%>style="display: none;"<% end %>>
<li>
<div class="question"> <%= @uncle_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @uncle_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_c}) %>
</div>
</li>

<li>
<div class="question"> <%= @uncle_d %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_d}) %>
</div>
</li>

<li>
<div class="question"> <%= @uncle_e %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_e}) %>
</div>
</li>


<li>
<div class="question"> <%= @uncle_f %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_f}) %>
</div>
</li>

<li>
<div class="question"> <%= @uncle_g %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:uncle_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :uncle_g}) %>
</div>
</li>
</ol>

</li>



<li>
<div class="question"> <%= @spouse_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_a, :dependency => "spouse"}) %>
</div>

<ol type="i" id ="spouse" <% if @response.spouse_a != "Yes"%>style="display: none;"<% end %>>
<li>
<div class="question"> <%= @spouse_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @spouse_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_c}) %>
</div>
</li>

<li>
<div class="question"> <%= @spouse_d %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_d}) %>
</div>
</li>

<li>
<div class="question"> <%= @spouse_e %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_e}) %>
</div>
</li>


<li>
<div class="question"> <%= @spouse_f %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_f}) %>
</div>
</li>

<li>
<div class="question"> <%= @spouse_g %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:spouse_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :spouse_g}) %>
</div>
</li>
</ol>

</li>


<li>
<div class="question"> <%= @friends_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_a, :dependency => "friends"}) %>
</div>

<ol type="i" id ="friends" <% if @response.friends_a != "Yes"%>style="display: none;"<% end %>>
<li>
<div class="question"> <%= @friends_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @friends_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_c}) %>
</div>
</li>

<li>
<div class="question"> <%= @friends_d %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_d}) %>
</div>
</li>

<li>
<div class="question"> <%= @friends_e %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_e}) %>
</div>
</li>


<li>
<div class="question"> <%= @friends_f %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_f}) %>
</div>
</li>

<li>
<div class="question"> <%= @friends_g %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:friends_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :friends_g}) %>
</div>
</li>
</ol>

</li>

<li>
<div class="question"> <%= @other_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_a, :dependency => "other"}) %>
</div>

<ol type="i" id ="other" <% if @response.other_a != "Yes"%>style="display: none;"<% end %>>

<li>
<div class="question"> <%= @other_who %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_who]) %></div>
<div class="answer"><%= f.text_field :other_who, style: "margin-left: 1em;" %></div>
</li>


<li>
<div class="question"> <%= @other_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @other_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_c}) %>
</div>
</li>

<li>
<div class="question"> <%= @other_d %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_d}) %>
</div>
</li>

<li>
<div class="question"> <%= @other_e %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_e]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_e}) %>
</div>
</li>


<li>
<div class="question"> <%= @other_f %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_f]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_f}) %>
</div>
</li>

<li>
<div class="question"> <%= @other_g %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:other_g]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :other_g}) %>
</div>
</li>
</ol>


<li>
<div class="question"> <%= @cope_problemsq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:cope_problems]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @cope_problems, :locals=> {:f => f, :name => :cope_problems}) %>
</div>
</li>

</ol>
</li>

<li>
<ol type="a">

<li>
<div class="question"> <%= @familyq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:family]) %></div>
<div class="answer">
<%= render( :partial => 'checkboxes', :object => @family, :locals=> {:f => f}) %>
</div>
</li>

<li>
<div class = "question"> <%= @self_construalq %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @self_construal, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

</ol>
</li>


<li>
<div class = "question"> <%= @ind_col %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @aggreement_strong, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @individualism, :locals=> {:f => f, :cols=>@aggreement_strong}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question"> <%= @depressionq %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @how_often, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @depression, :locals=> {:f => f, :cols=>@how_often}) %>
</tr>
</table>
</div>
</li>

<li>
<div class = "question"> <%= @instructions3 %> </div>

<ol type ="a">

<li>
<div class="question"> <%= @suicide_aq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:suicide_a]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @suicide_a, :locals=> {:f => f, :name => :suicide_a, :dependency => "suicide_a"}) %>
</div>


<ol type="i" id ="suicide_a" <% if @response.suicide_a == "Yes"%> style="display: none;"<% end %>>
<li>
<div class="question"> <%= @suicide_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:suicide_c]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :suicide_c, :dependency => "suicide_c"}) %>
</div>
</li>
</ol>

</li>

<li>
<div class="question"> <%= @suicide_bq %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:suicide_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @suicide_b, :locals=> {:f => f, :name => :suicide_b, :dependency => "suicide_b"}) %>
</div>

<ol type="i" id ="suicide_b" <% if @response.suicide_b == "Yes"%> style="display: none;"<% end %>>
<li>
<div class="question"> <%= @suicide_d %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:suicide_d]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :suicide_d, :dependency => "suicide_d"}) %>
</div>
</li>
</ol>

</li>

</ol>
</li>


<li>
<div class="question"> <%= @function_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:function_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :function_a, :dependency => "function_a"}) %>
</div>

<ol type="i" id ="function_a" <% if @response.function_a != "Yes"%> style="display: none;"<% end %>>
<li>
<div class="question"> <%= @function_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:function_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @times, :locals=> {:f => f, :name => :function_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @function_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:function_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @times, :locals=> {:f => f, :name => :function_c}) %>
</div>
</li>

</ol>
</li>


<li>
<div class="question"> <%= @trauma_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:trauma_a]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :trauma_a, :dependency => "trauma_a"}) %>
</div>

<ol type="i" id ="trauma_a" <% if @response.trauma_a != "Yes"%> style="display: none;"<% end %>>
<li>
<div class="question"> <%= @trauma_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:trauma_b]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :trauma_b}) %>
</div>
</li>

<li>
<div class="question"> <%= @trauma_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:trauma_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @childhood, :locals=> {:f => f, :name => :trauma_c}) %>
</div>
</li>

</ol>
</li>


<li>
<div class="question"> <%= @religious_dominations %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:religios_dominations]) %></div>
<div class="answer"><%= f.text_field :religios_dominations, style: "margin-left: 1em;" %></div>
</li>



<li>
<div class="question">
<ol type="a">

<li>
<div class = "question"> <%= @religious_aq %> </div>
<div class = "answer">
<table border="1" style="margin-left: 1em; width:600px;">
<tr>
<tr><td></td><%= render( :partial => 'header', :collection => @how_true, :locals=> {:f => f}) %></tr>
<%= render( :partial => 'radiotable', :collection => @religious_a, :locals=> {:f => f, :cols=>@how_true}) %>
</tr>
</table>
</div>
</li>

<li>
<div class="question"> <%= @religious_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:religious_b]) %></div>
<div class="answer"><%= f.text_field :religious_b, style: "margin-left: 1em; width:250px" %></div>
</li>

<li>
<div class="question"> <%= @religious_c %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:religious_c]) %></div>
<div class="answer"><%= f.text_field :religious_c, style: "margin-left: 1em; width:250px" %></div>
</li>

</ol>
</li>

<li>
<div class="question"> <%= @how_religiousq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:how_religious]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @how_religious, :locals=> {:f => f, :name => :how_religious}) %>
</div>
</li>


<li>
<div class="question"> <%= @demographics_a %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_a]) %></div>
<div class="answer"><%= f.number_field :demographics_a, :min => 0, style: "margin-left: 1em;" %>
</div>
</li>

<li>
<div class="question"> <%= @demographics_b %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_b]) %></div>
<div class="answer"><%= f.text_field :demographics_b, style: "margin-left: 1em;" %>
</div>
</li>

<li>
<div class="question"> <%= @demographics_cq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_c]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @demographics_c, :locals=> {:f => f, :name => :demographics_c}) %>
</div>
</li>

<li>
<div class="question"> <%= @demographics_dq %>  </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_d]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @demographics_d, :locals=> {:f => f, :name => :demographics_d}) %>
</div>
</li>


<li>
<div class="question"> <%= @demographics_e %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_e]) %></div>
<div class="answer">
<%= render( :partial => 'ynradiobuttons', :object => @yn, :locals=> {:f => f, :name => :demographics_e, :dependency => "demographics_e"}) %>
</div>


<ol type="i" id ="demographics_e" <% if @response.demographics_e != "Yes"%> style="display: none;"<% end %>>
<li>
<div class="question"> <%= @demographics_f %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_f]) %></div>
<div class="answer"><%= f.number_field :demographics_f, :min => 0, style: "margin-left: 1em;" %>
</div>
</li>

</ol>
</li>

<li>
<div class="question"> <%= @demographics_g %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_g]) %></div>
<div class="answer"><%= f.number_field :demographics_g, :min => 0, style: "margin-left: 1em;" %>
</div>
</li>

<li>
<div class="question"> <%= @live_withq %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:live_with]) %></div>
<div class="answer">
<%= render( :partial => 'checkboxes', :object => @live_with, :locals=> {:f => f}) %>
</div>
</li>

<li>
<div class="question"> <%= @demographics_i %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_i]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @yn, :locals=> {:f => f, :name => :demographics_i}) %>
</div>
</li>


<li>
<div class="question"> <%= @demographics_j %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_j]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @grad, :locals=> {:f => f, :name => :demographics_j}) %>
</div>
</li>


<li>
<div class="question"> <%= @demographics_k %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_k]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @employment, :locals=> {:f => f, :name => :demographics_k}) %>
</div>
</li>

<li>
<div class="question"> <%= @demographics_l %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_l]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @occupation, :locals=> {:f => f, :name => :demographics_l}) %>
</div>
</li>

<li>
<div class="question"> <%= @demographics_m %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_m]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @income_level, :locals=> {:f => f, :name => :demographics_m}) %>
</div>
</li>

<li>
<div class="question"> <%= @demographics_n %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_n]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @income_rate, :locals=> {:f => f, :name => :demographics_n}) %>
</div>
</li>

<li>
<div class="question"> <%= @demographics_o %> </div>
<div class="errors"><%= render(:partial => 'errors', :object => @response.errors[:demographics_o]) %></div>
<div class="answer">
<%= render( :partial => 'radiobuttons', :object => @income, :locals=> {:f => f, :name => :demographics_o}) %>
</div>
</li>


</ol>
<%= f.submit %>
<% end %>

</div>
</div>
