<!DOCTYPE html>

<!--   <%= 
      if params[:locale] == "en"
        @header = "Coping with Stress and Health"
        @footer = "Supported by University of Rochester Medical Center, Rochester, NY, USA. This study is conducted by researchers from the University of Rochester Medical Center, NY, USA, Chungbug National University, Cheongju, Chungbuk, Korea, and Koç University, Istanbul, Turkey."
        @banner = "banner_en.png"
      elsif params[:locale] == "tr"
        @header = "Stres ile Başetme Yöntemleri ve Sağlığımız"
        @footer = " Bu araştırma Rochester Üniversitesi Medikal Merkezi (Rochester, NY, Amerika) tarafından desteklenmektedir.  Araştırma yürütücüleri Rochester Üniversitesi Medikal Merkezi (Rochester, NY, Amerika), Chungbug National Universitesi (Cheongju, Chungbuk, Kore) ve Koç Universitesi (Istanbul, Turkiye) öğretim üyelerinden oluşmaktadır."
        @banner = "banner_tr.png"
      elsif params[:locale] == "ko"
        @header = "TRANSLATION MISSING"
        @footer = "TRANSLATION MISSING"
        @banner = "banner7.png"
      else 
        @header = "Something's Wrong"
        @footer = "Something's Wrong"
        @banner = "banner7.png" 
      end 
      %> -->

<html>
<head>

  <title><%= @header %></title>
  <meta name="viewport" content="width=660px" initial-scale="1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= stylesheet_link_tag    "facebook", :media => "all" %>

  <style>
   body, html {
     margin: 0;
     padding: 0;
    }
    #c {
       position: absolute; 
     width: 100%; 
     height: 100%; 
     }
    .field_with_errors {
       padding: 1em;
       background-color: #f9d0fa;
       border-color: #f9d0fa;
       color: #000000;
       border:1px;
       border-style: dashed;
       border-color:#333;
       #width:500px;
    }
    table {
      cellpadding: 3px;
      cellspacing: 50px;
      border-collapse:collapse;
     }
    ol {
       font-size: 10pt
    }
    .question {
        margin-top: 1.5em;
        font-size: 10pt;
       # font-family:'Times New Roman',Georgia,Serif;
    }
    .answer {
        margin-top: .5em;
        font-size: 10pt;
        #color: #666666;
       #padding-top: 1em;
      # padding-bottom: 1em;
       #background-color: #eee;
       border-color: #f9d0fa;
       #color: #000000;
      # border:1px;
      # border-style: dashed;
      # border-color:#333;
       width:500px;

    }
    .instructions {
       color: #666666;
      # background-color:#f0ebfa;
      # padding: 1em 1em 1em 1em;
    }
       
     
  </style>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="background:#48649f none repeat scroll 0%;"><div style="width: 600px; margin-left: auto; margin-right:auto;"><%= image_tag(@banner, border: "0",:align=> "middle" ) %></div></div>

<%= render "shared/load_facebook_sdk" %>

<div style="width: 600px; margin-left: auto; margin-right:auto;">
<%= yield %>

<div style="margin-top: 3em; font-size:10pt;"><hr/> <%= @footer %>
  </div>
  </div>
</body>
</html>

